@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,400&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}
body{
    margin:0;
    padding:0;
    width: 200vh;
    height: 90vh;
    background: rgb(73, 82, 53);
   
}


.mainnavigation{
    height: 65px;
    width: 220.9vh;
    background: rgb(20, 29, 21);
    background-image: radial-gradient(
          circle at 0% 0%,
          rgb(3, 34, 9) 15%,
          rgba(6, 15, 88, 0) 75%
        ),
        radial-gradient(
          circle at 100% 100%,
          rgba(4, 4, 6, 0.488) 15%,
          rgba(0, 0, 0, 0) 150%
        ),
        linear-gradient(
          135deg,
          rgba(24, 8, 28, 0) 0%,
          rgba(18, 18, 103, 0.599) 50%,
          rgba(24, 8, 28, 0) 100%
        );
    padding: 0;
    margin: 0;
    display: flex;
}


.mainnavigation .logo{
    height: 90px;
    width: 300px;
    margin-right: 300px;
    
}

.paste-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonx {
  background-color: #b6edb8;
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  width: 180px;
}

.dropdown-contentx {
  display: none;
  font-size: 14px;
  text-align: center;
  position: absolute;
  z-index: 1;
  min-width: 100px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-contentx a {
  color: #000500;
  padding: 15px 1px;
  text-decoration: none;
  display: block;
  width: 180px;
  transition: 0.1s;
}

.dropdown-contentx a:hover {
  background-color: #4CAF50;
  color: #212121;
}

.dropdown-contentx a:focus {
  background-color: #212121;
  color: #4CAF50;
}



.paste-button:hover button {
  border-radius: 5px;
}

.paste-button:hover .dropdown-contentx {
  display: block;
}

.user_image{
    margin-left: 7px;
}

.user_image .user_logo{
  height: 30px;
  width: 30px;
  margin-right: 22px;
  margin-top: 15px;
    
}

.cashier_info h4{
  margin-left: 630px;
  font-size: 10px;
  margin-top:15px;
}

.logo .image_logo{
    width: 90px;
    height: 70px;
}

.mainnavigation .cashier_info{
    color: white;
}







.maincontainer{
    width: 220.9vh;
    height: 630px;
    background: darkblue;
}



























.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    height: 35em;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}


.buttonback {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin-left: 20px;
   
  }
  
  .buttonback:before,
  .buttonback:after {
    content: "X";
    font-size: 20px;
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .buttonback:before {
    border: 4px solid #32ae24;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .buttonback:after {
    border: 4px solid #1b8120;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .buttonback:hover:before,
  .buttonback:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .buttonback:hover:after,
  .buttonback:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  


  










