@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,400&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(73, 82, 53);
}

.mainnavigation {
  height: 65px;
  width: 100vw;
  background: rgb(20, 29, 21);
  background-image: radial-gradient(
        circle at 0% 0%,
        rgb(3, 34, 9) 15%,
        rgba(6, 15, 88, 0) 75%
      ),
      radial-gradient(
        circle at 100% 100%,
        rgba(4, 4, 6, 0.488) 15%,
        rgba(0, 0, 0, 0) 150%
      ),
      linear-gradient(
        135deg,
        rgba(24, 8, 28, 0) 0%,
        rgba(18, 18, 103, 0.599) 50%,
        rgba(24, 8, 28, 0) 100%
      );
  display: flex;
}

.mainnavigation .logo {
  height: 90px;
  width: 300px;
  margin-right: 300px;
}


.paste-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50px;
}

.buttonx {
  background-color: #b6edb8;
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  width: 50px;
  margin-left: 2px;
}

.dropdown-contentx {
  display: none;
  font-size: 14px;
  text-align: center;
  position: absolute;
  z-index: 1;
  min-width: 100px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-contentx a {
  color: #000500;
  padding: 15px 1px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-contentx a:hover {
  background-color: #4CAF50;
  color: #212121;
}

.dropdown-contentx a:focus {
  background-color: #212121;
  color: #4CAF50;
}


.paste-button:hover .dropdown-contentx {
  display: block;
}


.settings .settings_logo{
    height: 90%;
    width: 80%;
}

.notification .notif_logo{
  height: 90%;
  width: 80%;
   
}
.user_image {
  margin-left: 7px;
}

.user_image .user_logo {
  height: 30px;
  width: 30px;
  margin-right: 22px;
  margin-top: 15px;
}

.cashier_info h4 {
  margin-left: 630px;
  font-size: 10px;
  margin-top: 15px;
}

.logo .image_logo {
  width: 90px;
  height: 70px;
}

.mainnavigation .cashier_info {
  color: white;
}

.maincontainer {
  width: 100%;
  height: 90vh;
  background: rgb(22, 22, 78);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 570px;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 125, 171, 0.15);
  border-radius: 10px;
  overflow-y: scroll;
}

.modal__header {
  padding: 1rem 5rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__body {
  padding: 1rem 1rem;
}

.modal__footer {
  padding: 0 1.5rem 1.5rem;
}

.modal__title {
  font-weight: 700;
  font-size: 1.25rem;
  
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease;
}

.button--icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 0.25rem;
  margin-right: 0px;
}

.button--icon:focus, .button--icon:hover {
  background-color: #ededed;
}

.button--primary {
  background-color: #007dab;
  color: #FFF;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
}

.button--primary:hover {
  background-color: #006489;
}

.input {
  display: flex;
  flex-direction: column;
}

.input + .input {
  margin-top: 1.75rem;
}

.input__label {
  font-weight: 700;
  font-size: 0.875rem;
}

.input__field {
  display: block;
  margin-top: 0.5rem;
  border: 1px solid #DDD;
  border-radius: 0.25rem;
  padding: 0.75rem 0.75rem;
  transition: 0.15s ease;
  width: 100%;
  box-sizing: border-box;
}

.input__field:focus {
  outline: none;
  border-color: #007dab;
  box-shadow: 0 0 0 1px #007dab, 0 0 0 4px rgba(0, 125, 171, 0.25);
}

.input__field--textarea {
  min-height: 100px;
  max-width: 100%;
  box-sizing: border-box;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.input__description {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  color: #8d8d8d;
}







.custum-file-upload {

    height: 100px;
    width: 200px;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
    margin-left: 0px;
    margin-left: 140px;

  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }
